includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - src
        - config
        - database

    level: 5

    ignoreErrors:

    excludePaths:

    checkMissingIterableValueType: false
